# Ignore .env.local
.env.local
ui/.env.local
.env.development
ui/.env.development
.env.production

# Ignore folders (node, trash, etc..)
ui/node_modules
ui/node_modules/
ui/.next

**/node_modules/
**/.next/
**/.env.local/
**/.env.development/
**/.env.production/

# Ignore
script.js
script_web.txt

TEMP
