# O UI speaks with proxy Next
NEXT_PUBLIC_MININGCORE_API_URL=/api

# Next procy (route /app/api/[...path]) speaks with miningcore
MININGCORE_INTERNAL_API_URL=http://YOUR_MACHINE_IP/api

# Absolute origin of the UI itself (needed for SSR/Node to do related searches)
INTERNAL_SELF_ORIGIN=https://hashstorm.org

